body {
    background-color: #7eafd7;
}



.isi_header, .isi_footer {
    border: solid white 5px;
    background-color: #b1daf6;
    margin-bottom: 10px;
}

.isi_footer {
    padding-top: 10px;
    margin-top: 10px;
}